<!doctype html>
<html>
<head>
		
	        <!--All links-->

<meta charset="utf-8">
<title> Amusement Park </title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="mystyle.css">
<script src="All script.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>
<body>

	
			<!--Navbar start-->


<header class="navbar-fixed-top">
<nav class="navbar navbar-default" >
<div class="container-fluid"  style="box-shadow: 1px 2px 15px #666">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>                        
</button>
<a class="navbar-brand" href="#"  id="logo" >Merciado Amuesment Park</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
<ul class="nav navbar-nav" id="nav1">
<li><a href="Home.html" class="cool-link">Home</a></li>
<li><a href="Gallary.html" class="cool-link">Gallary</a></li>
<li><a href="Resturant.html" class="cool-link">Restaurant</a></li>
<li><a href="Entertainmemt.html" class="cool-link">Entertainment</a></li>
<li><a href="tickets.html" class="cool-link">Ticket's</a></li>
<li><a href="contact us.html" class="cool-link">Contact us</a></li>
<li id="home-active"><a href="about us.html" style="border-right:1px solid #CCC">About us</a></li>
</ul>
    
<ul class="nav navbar-nav navbar-right">
<li><a href="#" id="myBtn6" class="cool-link" style="margin-top:8px"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
<li><a href="#" id="myBtn5" class="cool-link" style="margin-top:8px"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
</ul>
</div>
</nav>
</header>


			<!--Navbar end-->
		
 			<!--Top text-->


<h1 id="top-text" >About us</h1>

		
			<!--Top image--> 


<img src="about.png" id="gallary-image" style="width:100%; height:400px;">


			<!--Heading1-->


<div class="container" >
<div class="col-md-12" style="padding:60px 0px;">
<div class="col-md-2"></div>
<div class="col-md-8">
<h1>About Merciado</h1>
<h5 style="font-size:18px; text-align:justify; color:#666;"><strong>Meciado</strong> one of Pakistan's premier Amuesment Park. It is located just 5 minutes from Korangi 3 Town and 30 Minutes from Karachi International Airport (subject to traffic) on 42 beautifully landscaped acres, with huge lush green coconut trees,garden,comfortable and covered food court with dining tables & chairs. More than 25 Exciting water Slides & 12 Swimming Pools. 
The Quality of water in our Park is the best ,continuously treated and filtered through the most advance filtration System imported from Spain, keeping water sparkling blue, Sunway Lagoon can be compared with any of the international standard Park all over the world.</h5>
</div>
<div class="col-md-2"></div>
</div>	</div>


			<!--Heading 2-->


<div class="container" >
<div class="col-md-12" style="padding:0px 0px;">
<div class="col-md-2"></div>
<div class="col-md-8">
<h1>Merciado the Environment</h1>
<h5 style="font-size:18px; text-align:justify; color:#666;"><strong>Merciado</strong>is committed to being environmentally conscious and recognizes the importance of protecting the environment for which the very nature of our business relies on. As a leisure facility focusing on fun, safety and cleanliness, we have an inherent responsibility to the community to reflect the values we live by. We conduct business in a responsible and transparent manner that is balanced economically, socially and environmentally.</h5>
<div class="col-md-2"></div>

</div></div>

        

			<!--Heading 3-->


<div class="container">
<div class="col-md-12" style="padding:80px 0px;">
<div class="col-md-2"></div>
<div class="col-md-8" >
<h1>Water Management</h1>
<i class="glyphicon glyphicon-check" style="font-size:20px;"></i><h5 style="display:inline-block; padding-left:10px;">Using state of the art filtration systems that ensure maximized water conservation.</h5><br>
<i class="glyphicon glyphicon-check" style="font-size:20px;"></i><h5 style="display:inline-block; padding-left:10px;">All pool water resources in the water park are re-circulated, filtered, treated and re-used.</h5><br>
<i class="glyphicon glyphicon-check" style="font-size:20px;"></i><h5 style="display:inline-block; padding-left:10px;">Pool Water systems are separated to avoid cross contamination.</h5><br>
<i class="glyphicon glyphicon-check" style="font-size:20px;"></i><h5 style="display:inline-block; padding-left:10px;">Policies and procedures are in place to reduce the risk of contamination.</h5>
</div>

<div class="col-md-2"></div>
</div>	
</div></div>
		
      </div>
      
      
			<!--Google map-->
	

<div class="container">
<div class="col-md-2"></div>
<div class="col-md-8">
<div id="map" class="z-depth-1-half map-container" style="height: 400px">
  <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
    style="border:" allowfullscreen></iframe>
</div>
</div>
<div class="col-md-2"></div>
</div>


			<!--Google Maps-->  
        
        
    	    <!--Footer Start-->
        
<div class="container" id="footer">
<div class="col-md-12" style="padding-top:50px;">
<div class="col-md-3" style="border-right:1px solid #FFF; border-left:1px solid #FFF; height:205px">
<h4>Amuesment Park</h4>
<hr><h5>With the development of society,there are more and more amusement parks appearing. While they are similar, inside just have some amusement equipment, so these playgrounds are only one place for play,and they can not survive for a long time.</h5>
</div>


<div class="col-md-3" style="border-right:1px solid #FFF;  height:205px">
<h4>Our Service</h4>
<hr>
<p><a class="dark-grey-text"href="#">Contact us</a></p>
<p><a class="dark-grey-text" href="#!">About us</a></p>
<p><a class="dark-grey-text" href="#!">Customer Service </a></p>
<p><a class="dark-grey-text" href="#!">Privacy Policy</a></p>
</div>



<div class="col-md-3" style="border-right:1px solid #FFF; ">
<h4>Use full links</h4>
<hr>
<p><a class="dark-grey-text"href="#">Your Account</a></p>
<p><a class="dark-grey-text" href="#!">Find a location</a></p>
<p><a class="dark-grey-text" href="#!">Site Map</a></p>
<p><a class="dark-grey-text" href="#!">Help</a></p>
</div>



<div class="col-md-3" style="border-right:1px solid #FFF;">
<h4>contact us</h4>
<hr>
<p><i class="fas fa-home mr-3"></i>&nbsp;&nbsp; Korangi Branch KHI.</p>
<p><i class="fas fa-envelope mr-3"></i>&nbsp;&nbsp; rafay3651@gmail.com</p>
<p><i class="fas fa-phone mr-3"></i>&nbsp;&nbsp; + 92 234 567 88</p>
<p><i class="fas fa-print mr-3"></i>&nbsp;&nbsp; + 021 234 567 89</p>
</div>


<hr style="width:100%">
<div class="col-md-12">
<div class="col-md-12" id="icon">
<ul>
<li style="background-color:#06F"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
<li style="background-color:#09F"><a href="#"><i class="fab fa-twitter"></i></a></li>
<li style="background-color:#960"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
<li style="background-color:#F00"><a href="#"><i class="fab fa-youtube"></i></a></li>
<li style="background-color:#96F"><a href="#"><i class="fab fa-instagram"></i></a></li>
</ul>
<h5 style="color:#999">All Copy Right Reserved By "Abdul Rafay".</h5>
</div>
</div>
</div></div>
		
        	<!--Footer end-->
        	
			<!--Top Scroll Button-->
        
<input type="button" id="myBtn" value="Top" onClick="topFunction()"/>

			<!--SIgn in-->      

<div class="container">
<div class="modal fade" id="myModal" role="dialog" >
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header" style="padding:10px 70px;">
<button type="button" class="close"  data-dismiss="modal">&times;</button>

<h1> Sign in</h1>

</div>

<div class="modal-body" style="padding:20px 40px;">
<form role="form">
<div class="form-group" id="form1">
<span><i class="fas fa-envelope"></i></span>
<input type="text" required id="usrname" placeholder="Enter email" required>
</div>
            
<div class="form-group" id="form2">
<span><i class="fas fa-lock"></i></span>
<input type="password" required id="psw" placeholder="Enter password" required>
</div><br>
<p style="float:right; font-size:12px"> <a href="#">Forgot Password?</a></p>
<br><br>
<button type="submit" class="btn btn-primary btn-block" id="btn-login">
<span><i class="fas fa-sign-in-alt"></i></span> Login</button>
</form>
</div><br>
<p style="text-align:center">or sign in with:</p>
       
       
       
<div class="modal-footer">
<div class="text-center">
<br>
<button type="button" class="btn btn-white"><i class="fab fa-facebook-f text-center"></i></button>
<button type="button" class="btn btn-white"><i class="fab fa-twitter"></i></button>
<button type="button" class="btn btn-white"><i class="fab fa-google-plus-g"></i></button>
</div>
<br>
<p style="color:#999; font-size:12px">Not a member? <a href="#">Sign Up</a></p>
</div>
</div>
</div>
</div>
</div>


			<!--Sign up-->

<div class="container" >
<div class="modal fade" id="modal-signup" role="dialog" >
<div class="modal-dialog" style="margin-top:-30px">
<div class="modal-content" style="width:85%">
<div class="modal-header" style="padding:8px 70px;">
<button type="button" class="close"  data-dismiss="modal">&times;</button>

<h1> Sign up</h1>
<h4 class="text-center">Please fill in this form to create an account.</h4>
</div>

<div class="modal-body" style="padding-left:100px;">
<form role="form">
<div class="form-group" id="form1">
<h5>Full Name*</h5>
<input type="text" required id="usrname" placeholder="Enter your name">
</div>
       
<div class="form-group" id="form1">
<h5>Email*</h5>
<input type="text" required id="email" placeholder="Enter your email">
</div>
       
            
<div class="form-group" id="form1">
<h5>Password*</h5>
<input type="password" required id="psw" placeholder="Enter password">
</div>

<div class="form-group" id="form1">
<h5>Repeat Password*</h5>
<input type="password" required id="re-psw" placeholder="Repeat Password">
</div>

<label>
<input type="checkbox" checked="checked"/>&nbsp&nbsp;&nbsp;Remember me</label><br>
<p>By Creating an account you agree to our <br><a href="#">Terms & Privacy</a></p>
<br>
<button type="submit" class="btn btn-primary btn-block" id="btn-singup">Sing up</button>
</form>
<br>       
</div>
</div>
</div>
</div>

</body>
</html>
