<!doctype html>
<html>
<head>

		<!--All links-->

<meta charset="utf-8">
<title> Amusement Park </title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="mystyle.css">
<script src="All script.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>
<body>

			<!--Navbar Start-->
            
<header class="navbar-fixed-top">
<nav class="navbar navbar-default">
<div class="container-fluid"  style="box-shadow: 1px 2px 15px #666">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>                        
</button>
<a class="navbar-brand" href="#"  id="logo" >Merciado Amuesment Park</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar" >
<ul class="nav navbar-nav" id="nav1">
<li><a href="Home.html" class="cool-link">Home</a></li>
<li id="home-active"><a href="#" class="cool-link">Gallary</a></li>
<li><a href="Resturant.html" class="cool-link">Restaurant</a></li>
<li><a href="Entertainmemt.html" class="cool-link">Entertainment</a></li>
<li><a href="tickets.html" class="cool-link">Ticket's</a></li>
<li><a href="contact us.html" class="cool-link">Contact us</a></li>
<li><a href="about us.html" class="cool-link" style="border-right:1px solid #CCC">About us</a></li>
</ul>
    
<ul class="nav navbar-nav navbar-right">
<li><a href="#" id="myBtn6" class="cool-link" style="margin-top:8px"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
<li><a href="#" id="myBtn5" class="cool-link" style="margin-top:8px"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
</ul>
</div>
</nav>
</header>

			<!--Navbar End-->
            
			<!--Top text-->
           
<h1 id="top-text">Gallary</h1>
		
			<!--Front image--> 

<img src="shawn-lee-785068-unsplash.jpg" id="gallary-image" style="width:100%; height:400px;">
</div>


	    	<!--Swiming pool Heading Start-->


<div class="container">
<div class="col-md-12" id="Gallary-heading">
<h4  class="text-center">The Owesum Swimming pool in <strong>Merciado</strong></h4>
</div></div>

	 
 			<!--Swiming pool  Heading end-->

	
      		<!--Swiming pool images start-->


<div class="container-fluid">
<div data-toggle="modal" data-target="#openimage1" class="moodal"  class="row" >
<div class="column">
<img src="Gallary/Swimming/pic (1).jpeg" class="hover-shadow cursor">
</div>
</div>
<div class="modal fade" id="openimage1" role="dialog">
<div style="width:60%" class="center-block">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
<h2 class="modal-title" style="color:#009; text-align:center">Swimming pool</h2></div>
<div class="modal-body">
<center><img src="Gallary/Swimming/pic (1).jpeg" style="width:100%;height:100%;"></center></div>
<center><h2 style="color: #009">Information</h2>
<p style="text-align: center;margin:10px;font-weight: bold;color:#1C2331;">The children are disporting themselves in the pool.</p>
</center>
<div class="modal-footer">
<button type="button" id="btn-close" class="btn btn-info" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>



<div data-toggle="modal" data-target="#openimage2" class="moodal"  class="row" >
<div class="column">
<img src="Gallary/Swimming/pic (2).jpg" class="hover-shadow cursor">
</div>
</div>
<div class="modal fade" id="openimage2" role="dialog">
<div  style="width:60%" class="center-block">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
<h2 class="modal-title" style="color:#009; text-align:center">Swimming pool</h2></div>
<div class="modal-body">
<center><img src="Gallary/Swimming/pic (2).jpg" style="width:100%;height:100%;"></center></div>
<center><h2 style="color: #009">Information</h2>
<p style="text-align: center;margin:10px;font-weight: bold;color:#1C2331;">The swimmer ran to the side of the swimming pool and dived off.</p>
</center>
<div class="modal-footer">
<button type="button" id="btn-close" class="btn btn-info" data-dismiss="modal" >Close</button>
</div>
</div>
</div>
</div>



<div   data-toggle="modal" data-target="#openimage3" class="moodal"  class="row" >
<div class="column">
<img src="Gallary/Swimming/pic (3).jpg" class="hover-shadow cursor">
</div>
</div>
<div class="modal fade" id="openimage3" role="dialog">
<div style="width:60%" class="center-block">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
<h2 class="modal-title" style="color: #009; text-align:center">Swimming pool</h2></div>
<div class="modal-body">
<center><img src="Gallary/Swimming/pic (3).jpg" style="width:100%;height:100%;"></center></div>
<center><h2 style="color: #009">Information</h2>
<p style="text-align: center;margin:10px;font-weight: bold;color:#1C2331;">The swimming pool drains very slowly.</p>
</center>
<div class="modal-footer">
<button type="button" id="btn-close" class="btn btn-info" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>



<div   data-toggle="modal" data-target="#openimage4" class="moodal"  class="row" >
<div class="column">
<img src="Gallary/Swimming/pic (4).jpg" class="hover-shadow cursor">
</div>
</div>
<div class="modal fade" id="openimage4" role="dialog">
<div  style="width:60%" class="center-block">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
<h2 class="modal-title" style="color: #009; text-align:center">Swimming pool</h2></div>
<div class="modal-body">
<center><img src="Gallary/Swimming/pic (4).jpg" style="width:100%;height:100%;"></center></div>
<center><h2 style="color: #009">Information</h2>
<p style="text-align: center;margin:10px;font-weight: bold;color:#1C2331;">Diving into pool, he splattered water on me all over.</p>
</center>
<div class="modal-footer">
<button type="button" id="btn-close" class="btn btn-info" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>



<div   data-toggle="modal" data-target="#openimage5" class="moodal"  class="row" >
<div class="column">
<img src="Gallary/Swimming/pic (6).jpg" class="hover-shadow cursor">
</div>
</div>
<div class="modal fade" id="openimage5" role="dialog">
<div style="width:60%" class="center-block">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
<h2 class="modal-title" style="color: #009; text-align:center">Swimming pool</h2></div>
<div class="modal-body">
<center><img src="Gallary/Swimming/pic (6).jpg" style="width:100%;height:100%;"></center></div>
<center><h2 style="color: #009">Information</h2>
<p style="text-align: center;margin:10px;font-weight: bold;color:#1C2331;">He drove in the direction of the swimming pool.</p>
</center>
<div class="modal-footer">
<button type="button" id="btn-close" class="btn btn-info" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>



<div data-toggle="modal" data-target="#openimage6" class="moodal"  class="row" >
<div class="column">
<img src="Gallary/Swimming/pic (7).jpg" class="hover-shadow cursor">
</div>
</div>
<div class="modal fade" id="openimage6" role="dialog">
<div style="width:60%" class="center-block">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
<h2 class="modal-title" style="color: #009; text-align:center">Swimming pool</h2></div>
<div class="modal-body">
<center><img src="Gallary/Swimming/pic (7).jpg" style="width:100%;height:100%;"></center></div>
<center><h2 style="color: #009">Information</h2>
<p style="text-align: center;margin:10px;font-weight: bold;color:#1C2331;">He is immersed in the swimming pool.</p>
</center>
<div class="modal-footer">
<button type="button" id="btn-close" class="btn btn-info" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>



<div data-toggle="modal" data-target="#openimage7" class="moodal"  class="row" >
<div class="column">
<img src="Gallary/Swimming/pic (8).jpg" class="hover-shadow cursor">
</div>
</div>
<div class="modal fade" id="openimage7" role="dialog">
<div style="width:60%" class="center-block">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
<h2 class="modal-title" style="color: #009; text-align:center">Swimming pool</h2></div>
<div class="modal-body">
<center><img src="Gallary/Swimming/pic (8).jpg" style="width:100%;height:100%;"></center></div>
<center><h2 style="color: #009">Information</h2>
<p style="text-align: center;margin:10px;font-weight: bold;color:#1C2331;">Guests have free use of the hotel swimming pool.</p>
</center>
<div class="modal-footer">
<button type="button" id="btn-close" class="btn btn-info" data-dismiss="modal" >Close</button>
</div>
</div>
</div>
</div>



<div   data-toggle="modal" data-target="#openimage8" class="moodal"  class="row" >
<div class="column">
<img src="Gallary/Swimming/pic (9).jpg" class="hover-shadow cursor">
</div>
</div>
<div class="modal fade" id="openimage8" role="dialog">
<div style="width:60%" class="center-block">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
<h2 class="modal-title" style="color: #009; text-align:center">Swimming pool</h2></div>
<div class="modal-body">
<center><img src="Gallary/Swimming/pic (9).jpg" style="width:100%;height:100%;"></center></div>
<center><h2 style="color: #009">Information</h2>
<p style="text-align: center;margin:10px;font-weight: bold;color:#1C2331;">The swimming pool is the focal point of the hotel.</p>
</center>
<div class="modal-footer">
<button type="button" id="btn-close" class="btn btn-info" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>



<div   data-toggle="modal" data-target="#openimage9" class="moodal"  class="row" >
<div class="column">
<img src="Gallary/Swimming/pic (10).jpg" class="hover-shadow cursor">
</div>
</div>
<div class="modal fade" id="openimage9" role="dialog">
<div style="width:60%" class="center-block">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
<h2 class="modal-title" style="color: #009; text-align:center">Swimming pool</h2></div>
<div class="modal-body">
<center><img src="Gallary/Swimming/pic (10).jpg" style="width:100%;height:100%;"></center></div>
<center><h2 style="color: #009">Information</h2>
<p style="text-align: center;margin:10px;font-weight: bold;color:#1C2331;">He got in at the shallow end of the swimming pool.</p>
</center>
<div class="modal-footer">
<button type="button" id="btn-close" class="btn btn-info" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>



<div   data-toggle="modal" data-target="#openimage10" class="moodal"  class="row" >
<div class="column">
<img src="Gallary/Swimming/pic (11).jpg" class="hover-shadow cursor">
</div>
</div>
<div class="modal fade" id="openimage10" role="dialog">
<div style="width:60%" class="center-block">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
<h2 class="modal-title" style="color:#009; text-align:center">Swimming pool</h2></div>
<div class="modal-body">
<center><img src="Gallary/Swimming/pic (11).jpg" style="width:100%;height:100%;"></center></div>
<center><h2 style="color: #009">Information</h2>
<p style="text-align: center;margin:10px;font-weight: bold;color:#1C2331;">He got in at the shallow end of the swimming pool.</p>
</center>
<div class="modal-footer">
<button type="button" id="btn-close" class="btn btn-info" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
</div>

			<!--Swiming pool images end-->

    
    		<!--Resturant heading -->
	
<div class="container">
<div class="col-md-12" id="Gallary-heading">
<h4  class="text-center">There is a Resturant in <strong>Merciado</strong></h4>
</div>
</div>


			<!--Resturant images start-->

<div class="container-fluid">
<div data-toggle="modal" data-target="#openimage11" class="moodal"  class="row" >
<div class="column">
<img src="Gallary/Resturant/pic (1).jpg"  class="hover-shadow cursor">
</div>
</div>
<div class="modal fade" id="openimage11" role="dialog">
<div style="width:60%" class="center-block">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
<h2 class="modal-title" style="color:#009; text-align:center">Restuarant</h2></div>
<div class="modal-body">
<center><img src="Gallary/Resturant/pic (1).jpg" style="width:100%;height:100%;"></center></div>
<center><h2 style="color: #009">Information</h2>
<p style="text-align: center;margin:10px;font-weight: bold;color:#1C2331;">The children are disporting themselves in the pool.</p>
</center>
<div class="modal-footer">
<button type="button" id="btn-close" class="btn btn-info" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>



<div data-toggle="modal" data-target="#openimage12" class="moodal"  class="row" >
<div class="column">
<img src="Gallary/Resturant/pic (2).jpg" class="hover-shadow cursor">
</div>
</div>
<div class="modal fade" id="openimage12" role="dialog">
<div  style="width:60%" class="center-block">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
<h2 class="modal-title" style="color:#009; text-align:center">Restuarant</h2></div>
<div class="modal-body">
<center><img src="Gallary/Resturant/pic (2).jpg" style="width:100%;height:100%;"></center></div>
<center><h2 style="color: #009">Information</h2>
<p style="text-align: center;margin:10px;font-weight: bold;color:#1C2331;">The swimmer ran to the side of the swimming pool and dived off.</p>
</center>
<div class="modal-footer">
<button type="button" id="btn-close" class="btn btn-info" data-dismiss="modal" >Close</button>
</div>
</div>
</div>
</div>



<div   data-toggle="modal" data-target="#openimage13" class="moodal"  class="row" >
<div class="column">
<img src="Gallary/Resturant/pic (3).jpg" class="hover-shadow cursor">
</div>
</div>
<div class="modal fade" id="openimage13" role="dialog">
<div style="width:60%" class="center-block">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
<h2 class="modal-title" style="color: #009; text-align:center">Restuarant</h2></div>
<div class="modal-body">
<center><img src="Gallary/Resturant/pic (3).jpg" style="width:100%;height:100%;"></center></div>
<center><h2 style="color: #009">Information</h2>
<p style="text-align: center;margin:10px;font-weight: bold;color:#1C2331;">The swimming pool drains very slowly.</p>
</center>
<div class="modal-footer">
<button type="button" id="btn-close" class="btn btn-info" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>



<div   data-toggle="modal" data-target="#openimage14" class="moodal"  class="row" >
<div class="column">
<img src="Gallary/Resturant/pic (4).jpg" class="hover-shadow cursor">
</div>
</div>
<div class="modal fade" id="openimage14" role="dialog">
<div  style="width:60%" class="center-block">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
<h2 class="modal-title" style="color: #009; text-align:center">Restuarant</h2></div>
<div class="modal-body">
<center><img src="Gallary/Resturant/pic (4).jpg" style="width:100%;height:100%;"></center></div>
<center><h2 style="color: #009">Information</h2>
<p style="text-align: center;margin:10px;font-weight: bold;color:#1C2331;">Diving into pool, he splattered water on me all over.</p>
</center>
<div class="modal-footer">
<button type="button" id="btn-close" class="btn btn-info" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>



<div   data-toggle="modal" data-target="#openimage15" class="moodal"  class="row" >
<div class="column">
<img src="Gallary/Resturant/pic (5).jpg" class="hover-shadow cursor">
</div>
</div>
<div class="modal fade" id="openimage15" role="dialog">
<div style="width:60%" class="center-block">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
<h2 class="modal-title" style="color: #009; text-align:center">Restuarant</h2></div>
<div class="modal-body">
<center><img src="Gallary/Resturant/pic (5).jpg" style="width:100%;height:100%;"></center></div>
<center><h2 style="color: #009">Information</h2>
<p style="text-align: center;margin:10px;font-weight: bold;color:#1C2331;">He drove in the direction of the swimming pool.</p>
</center>
<div class="modal-footer">
<button type="button" id="btn-close" class="btn btn-info" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>



<div data-toggle="modal" data-target="#openimage16" class="moodal"  class="row" >
<div class="column">
<img src="Gallary/Resturant/pic (6).jpg" class="hover-shadow cursor">
</div>
</div>
<div class="modal fade" id="openimage16" role="dialog">
<div style="width:60%" class="center-block">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
<h2 class="modal-title" style="color: #009; text-align:center">Restuarant</h2></div>
<div class="modal-body">
<center><img src="Gallary/Resturant/pic (6).jpg" style="width:100%;height:100%;"></center></div>
<center><h2 style="color: #009">Information</h2>
<p style="text-align: center;margin:10px;font-weight: bold;color:#1C2331;">He is immersed in the swimming pool.</p>
</center>
<div class="modal-footer">
<button type="button" id="btn-close" class="btn btn-info" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>



<div data-toggle="modal" data-target="#openimage17" class="moodal"  class="row">
<div class="column">
<img src="Gallary/Resturant/pic (7).jpg" class="hover-shadow cursor">
</div>
</div>
<div class="modal fade" id="openimage17" role="dialog">
<div style="width:60%" class="center-block">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
<h2 class="modal-title" style="color: #009; text-align:center">Restuarant</h2></div>
<div class="modal-body">
<center><img src="Gallary/Resturant/pic (7).jpg" style="width:100%;height:100%;"></center></div>
<center><h2 style="color: #009">Information</h2>
<p style="text-align: center;margin:10px;font-weight: bold;color:#1C2331;">Guests have free use of the hotel swimming pool.</p>
</center>
<div class="modal-footer">
<button type="button" id="btn-close" class="btn btn-info" data-dismiss="modal" >Close</button>
</div>
</div>
</div>
</div>



<div   data-toggle="modal" data-target="#openimage18" class="moodal"  class="row">
<div class="column">
<img src="Gallary/Resturant/pic (8).jpg" class="hover-shadow cursor">
</div>
</div>
<div class="modal fade" id="openimage18" role="dialog">
<div style="width:60%" class="center-block">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
<h2 class="modal-title" style="color: #009; text-align:center">Restuarant</h2></div>
<div class="modal-body">
<center><img src="Gallary/Resturant/pic (8).jpg" style="width:100%;height:100%;"></center></div>
<center><h2 style="color: #009">Information</h2>
<p style="text-align: center;margin:10px;font-weight: bold;color:#1C2331;">The swimming pool is the focal point of the hotel.</p>
</center>
<div class="modal-footer">
<button type="button" id="btn-close" class="btn btn-info" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>



<div   data-toggle="modal" data-target="#openimage19" class="moodal"  class="row" >
<div class="column">
<img src="Gallary/Resturant/pic (9).jpg" class="hover-shadow cursor">
</div>
</div>
<div class="modal fade" id="openimage19" role="dialog">
<div style="width:60%" class="center-block">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
<h2 class="modal-title" style="color: #009; text-align:center">Restuarant</h2></div>
<div class="modal-body">
<center><img src="Gallary/Resturant/pic (9).jpg" style="width:100%;height:100%;"></center></div>
<center><h2 style="color: #009">Information</h2>
<p style="text-align: center;margin:10px;font-weight: bold;color:#1C2331;">He got in at the shallow end of the swimming pool.</p>
</center>
<div class="modal-footer">
<button type="button" id="btn-close" class="btn btn-info" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>



<div   data-toggle="modal" data-target="#openimage20" class="moodal"  class="row" >
<div class="column">
<img src="Gallary/Resturant/pic (10).jpg" class="hover-shadow cursor">
</div>
</div>
<div class="modal fade" id="openimage20" role="dialog">
<div style="width:60%" class="center-block">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
<h2 class="modal-title" style="color:#009; text-align:center">Restuarant</h2></div>
<div class="modal-body">
<center><img src="Gallary/Resturant/pic (10).jpg" style="width:100%;height:100%;"></center></div>
<center><h2 style="color: #009">Information</h2>
<p style="text-align: center;margin:10px;font-weight: bold;color:#1C2331;">He got in at the shallow end of the swimming pool.</p>
</center>
<div class="modal-footer">
<button type="button" id="btn-close" class="btn btn-info" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
</div>

	
    		<!--Resturant images end-->

			<!--Footer Start-->
        
<div class="container" id="footer">
<div class="col-md-12" style="padding-top:50px;">
<div class="col-md-3" style="border-right:1px solid #FFF; border-left:1px solid #FFF; height:205px">
<h4>Amuesment Park</h4>
<hr><h5>With the development of society,there are more and more amusement parks appearing. While they are similar, inside just have some amusement equipment, so these playgrounds are only one place for play,and they can not survive for a long time.</h5>
</div>


<div class="col-md-3" style="border-right:1px solid #FFF;  height:205px">
<h4>Our Service</h4>
<hr>
<p><a class="dark-grey-text"href="#">Contact us</a></p>
<p><a class="dark-grey-text" href="#!">About us</a></p>
<p><a class="dark-grey-text" href="#!">Customer Service </a></p>
<p><a class="dark-grey-text" href="#!">Privacy Policy</a></p>
</div>



<div class="col-md-3" style="border-right:1px solid #FFF; ">
<h4>Use full links</h4>
<hr>
<p><a class="dark-grey-text"href="#">Your Account</a></p>
<p><a class="dark-grey-text" href="#!">Find a location</a></p>
<p><a class="dark-grey-text" href="#!">Site Map</a></p>
<p><a class="dark-grey-text" href="#!">Help</a></p>
</div>



<div class="col-md-3" style="border-right:1px solid #FFF;">
<h4>contact us</h4>
<hr>
<p><i class="fas fa-home mr-3"></i>&nbsp;&nbsp; Korangi Branch KHI.</p>
<p><i class="fas fa-envelope mr-3"></i>&nbsp;&nbsp; rafay3651@gmail.com</p>
<p><i class="fas fa-phone mr-3"></i>&nbsp;&nbsp; + 92 234 567 88</p>
<p><i class="fas fa-print mr-3"></i>&nbsp;&nbsp; + 021 234 567 89</p>
</div>


<hr style="width:100%">
<div class="col-md-12">
<div class="col-md-12" id="icon">
<ul>
<li style="background-color:#06F"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
<li style="background-color:#09F"><a href="#"><i class="fab fa-twitter"></i></a></li>
<li style="background-color:#960"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
<li style="background-color:#F00"><a href="#"><i class="fab fa-youtube"></i></a></li>
<li style="background-color:#96F"><a href="#"><i class="fab fa-instagram"></i></a></li>
</ul>
<h5 style="color:#999">All Copy Right Reserved By "Abdul Rafay".</h5>
</div>
</div>
</div></div>
		
        	<!--Footer end-->
  
	        <!--Scroll button for Top-->
        
<input type="button" id="myBtn" value="Top" onClick="topFunction()"/>

 
			<!--SIgn in-->      

<div class="container">
<div class="modal fade" id="myModal" role="dialog" >
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header" style="padding:10px 70px;">
<button type="button" class="close"  data-dismiss="modal">&times;</button>

<h1> Sign in</h1>

</div>

<div class="modal-body" style="padding:20px 40px;">
<form role="form">
<div class="form-group" id="form1">
<span><i class="fas fa-envelope"></i></span>
<input type="text" required id="usrname" placeholder="Enter email">
</div>
            
<div class="form-group" id="form2">
<span><i class="fas fa-lock"></i></span>
<input type="password" required id="psw" placeholder="Enter password">
</div><br>
<p style="float:right; font-size:12px"> <a href="#">Forgot Password?</a></p>
<br><br>
<button type="submit" class="btn btn-primary btn-block" id="btn-login"><span><i class="fas fa-sign-in-alt"></i></span> Login</button>
</form>
</div><p style="text-align:center">or sign in with:</p>
       
       
       
<div class="modal-footer">
<div class="text-center">
<br>
<button type="button" class="btn btn-white"><i class="fab fa-facebook-f text-center"></i></button>
<button type="button" class="btn btn-white"><i class="fab fa-twitter"></i></button>
<button type="button" class="btn btn-white"><i class="fab fa-google-plus-g"></i></button>
</div>
<br>
<p style="color:#999; font-size:12px">Not a member? <a href="#">Sign Up</a></p>
</div>
</div>
</div>
</div>
</div>

			<!--Sign up-->

<div class="container" >
<div class="modal fade" id="modal-signup" role="dialog" >
<div class="modal-dialog" style="margin-top:-30px">
<div class="modal-content" style="width:85%">
<div class="modal-header" style="padding:8px 70px;">
<button type="button" class="close"  data-dismiss="modal">&times;</button>

<h1> Sign up</h1>
<h4 class="text-center">Please fill in this form to create an account.</h4>
</div>

<div class="modal-body" style="padding-left:100px;">
<form role="form">
<div class="form-group" id="form1">
<h5>Full Name*</h5>
<input type="text" required id="usrname" placeholder="Enter your name">
</div>
       
<div class="form-group" id="form1">
<h5>Email*</h5>
<input type="text" required id="email" placeholder="Enter your email">
</div>
       
            
<div class="form-group" id="form1">
<h5>Password*</h5>
<input type="password" required id="psw" placeholder="Enter password">
</div>

<div class="form-group" id="form1">
<h5>Repeat Password*</h5>
<input type="password" required id="re-psw" placeholder="Repeat Password">
</div>

<label>
<input type="checkbox" checked="checked"/>&nbsp&nbsp;&nbsp;Remember me</label><br>
<p>By Creating an account you agree to our <br><a href="#">Terms & Privacy</a></p>
<br>
<button type="submit" class="btn btn-primary btn-block" id="btn-singup">Sing up</button>
</form>
<br>       
</div>
</div>
</div>
</div>


</body>
</html>