<!doctype html>
<html>
<head>

		<!--All Links-->

<meta charset="utf-8">
<title> Amusement Park </title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="mystyle.css">
<script src="All script.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>
<body>


		<!--Navbar start-->

<header class="navbar-fixed-top">
<nav class="navbar navbar-default" >
<div class="container-fluid"  style="box-shadow: 1px 2px 15px #666">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>                        
</button>
<a class="navbar-brand" href="#"  id="logo" >Merciado Amuesment Park</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
<ul class="nav navbar-nav" id="nav1">
<li id="home-active"><a href="#">Home</a></li>
<li><a href="Gallary.html" class="cool-link">Gallary</a></li>
<li><a href="Resturant.html" class="cool-link">Restaurant</a></li>
<li><a href="Entertainmemt.html" class="cool-link">Entertainment</a></li>
<li><a href="tickets.html" class="cool-link">Ticket's</a></li>
<li><a href="contact us.html" class="cool-link">Contact us</a></li>
<li><a href="about us.html" class="cool-link" style="border-right:1px solid #CCC">About us</a></li>
</ul>
    
<ul class="nav navbar-nav navbar-right">
<li><a href="#" id="myBtn6" class="cool-link" style="margin-top:8px"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
<li><a href="#" id="myBtn5" class="cool-link" style="margin-top:8px"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
</ul>
</div>
</nav>
</header>
 	
		<!--Navbar end-->


		   
        <!--Slider start-->
        
<div id="myCarousel" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
<li data-target="#myCarousel" style="background:#000; width:20px" data-slide-to="0" class="active"></li>
<li data-target="#myCarousel" style="background:#000; width:20px" data-slide-to="1"></li>
<li data-target="#myCarousel" style="background:#000; width:20px" data-slide-to="2"></li>
<li data-target="#myCarousel" style="background:#000; width:20px" data-slide-to="3"></li>
<li data-target="#myCarousel" style="background:#000; width:20px" data-slide-to="4"></li>
</ol>



<div class="carousel-inner">

<div class="item active" >
<img src="Home/slider1.jpg" style="height:500px; width:100%" />
</div>

<div class="item">
<img src="Home/slider2.jpg" style="height:500px" width="100%"/>
</div>

<div class="item">
<img src="Home/slider3.jpg" style="height:500px" width="100%"/>
</div>

<div class="item">
<img src="Home/slider4.jpg" style="height:500px" width="100%"/>
</div>

<div class="item">
<img src="Home/slider5.jpg" style="height:500px" width="100%"/>
</div>
</div>
</div>

		<!--Slider end-->

<br>
		<!--Heading start-->


<div class="container" style="padding:70px 0px;">
<div class="col-md-12">
<div class="col-md-2"></div>
<div class="col-md-8" class="middel" style="text-align:center; font-family:'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', Verdana, sans-serif">
<h2>Well Come To The <strong> "Merciado" </strong>Amuesment Park!</h2>
<br>
<h4 s	tyle="line-height:30px;">Keep scrolling to see all of our amazing attractions. We offer 1-Day Passes, Season Passes, and a Non-Rider Ticket for those who do not wish to participate in any attractions.</h4>
</div>

<div class="col-md-2"></div>
</div>
</div>
		
        <!--First Image Start-->

<div class="container">
<div class="col-md-12">



<div class="col-md-5">
<img class="img-responsive" id="image1" src="Home/attraction.jpg">
</div>
<div class="col-md-2"></div>
<div id="attraction"  class="col-md-5">
<h4>Attraction</h4>
<h5>In addition to 21 amusement park rides, The Park at <strong>Merciado</strong> features a great selection of traditional Midway games plus Wacky Waters, a new, interactive splash pad that makes <strong>Merciado</strong> cooler than ever!</h5>

<div class="attraction box">

<h3>ATTRACTION</h3>
</div>
</div>

</div></div>
		

        <!--First Image end-->


		<!--Second Image start-->

<div class="container">        
<div class="col-md-12">
<div id="ride" class="col-md-5">
<h4>Rides in the Park</h4>
<h5>Our 21 dazzling amusement park rides will have everyone entertained for hours. Play it safe on Leap Frog or see how loud you scream on the Rollin’ Thunder! With attractions for guests of all ages, you're sure to find a new way to enjoy yourself with every visit.</h5>

<div class="ride box">
<h3>RIDES</h3></div>
</div>
<div class="col-md-2"></div>
<div class="col-md-5">
<img class="img-responsive" id="image2" src="Home/ride in park.jpg">
</div>
</div></div>


		<!--Second Image end-->


		<!--Third Image Start-->

<div class="container" style="padding-top:60px;">
<div class="col-md-12">
<div class="col-md-5">
<img class="img-responsive" id="image3" src="Home/ticket.jpg">
</div>
<div class="col-md-2"></div>
<div id="ticket"  class="col-md-5">
<h4>Tickets</h4>
<h5>Get a head start on your adventure by purchasing your tickets before you get to the park! We have a broad range of ticket packages and prices available for purchase.</h5>

<div class="attra box">

<h3>TICKETS</h3>
</div>
</div>
</div>
</div>

		<!--Third Image end-->
        
        
		<!--Fourth Image Start-->
        
<div class="container" style="padding-top:70px;"> 
<div class="col-md-12">
<div id="resturant" class="col-md-5">
<h4>Food in the Park</h4>
<h5>There are several options for dining in the <strong>Merciado</strong> amusement park as well as cart vendors throughout. Shady Arbor and Veranda restaurants are centrally located and offer a variety of both food and beverage to quench your thirst, cool off and refuel.</h5>

<div class="ride box">
<h3><a href="Resturant.html">RESTURANT</a></h3></div>
</div>
<div class="col-md-2"></div>
<div class="col-md-5">
<img class="img-responsive" id="image4" src="Home/food in park.jpg">
</div>
</div>
</div>
</div>

		<!--Fourth Image end-->


		<!--Footer Start-->
        
<div class="container" id="footer">
<div class="col-md-12" style="padding-top:50px;">
<div class="col-md-3" style="border-right:1px solid #FFF; border-left:1px solid #FFF; height:205px">
<h4>Amuesment Park</h4>
<hr><h5>With the development of society,there are more and more amusement parks appearing. While they are similar, inside just have some amusement equipment, so these playgrounds are only one place for play,and they can not survive for a long time.</h5>
</div>


<div class="col-md-3" style="border-right:1px solid #FFF;  height:205px">
<h4>Our Service</h4>
<hr>
<p><a class="dark-grey-text"href="#">Contact us</a></p>
<p><a class="dark-grey-text" href="#!">About us</a></p>
<p><a class="dark-grey-text" href="#!">Customer Service </a></p>
<p><a class="dark-grey-text" href="#!">Privacy Policy</a></p>
</div>



<div class="col-md-3" style="border-right:1px solid #FFF; ">
<h4>Use full links</h4>
<hr>
<p><a class="dark-grey-text"href="#">Your Account</a></p>
<p><a class="dark-grey-text" href="#!">Find a location</a></p>
<p><a class="dark-grey-text" href="#!">Site Map</a></p>
<p><a class="dark-grey-text" href="#!">Help</a></p>
</div>



<div class="col-md-3" style="border-right:1px solid #FFF;">
<h4>contact us</h4>
<hr>
<p><i class="fas fa-home mr-3"></i>&nbsp;&nbsp; Korangi Branch KHI.</p>
<p><i class="fas fa-envelope mr-3"></i>&nbsp;&nbsp; rafay3651@gmail.com</p>
<p><i class="fas fa-phone mr-3"></i>&nbsp;&nbsp; + 92 234 567 88</p>
<p><i class="fas fa-print mr-3"></i>&nbsp;&nbsp; + 021 234 567 89</p>
</div>


<hr style="width:100%">
<div class="col-md-12">
<div class="col-md-12" id="icon">
<ul>
<li style="background-color:#06F"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
<li style="background-color:#09F"><a href="#"><i class="fab fa-twitter"></i></a></li>
<li style="background-color:#960"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
<li style="background-color:#F00"><a href="#"><i class="fab fa-youtube"></i></a></li>
<li style="background-color:#96F"><a href="#"><i class="fab fa-instagram"></i></a></li>
</ul>
<h5 style="color:#999">All Copy Right Reserved By "Abdul Rafay".</h5>
</div>
</div>
</div></div>
		
        <!--Footer end-->
        
        <!--Top Scroll Button-->
        
<input type="button" id="myBtn" value="Top" onClick="topFunction()"/>


		<!--SIgn in-->      

<div class="container">
<div class="modal fade" id="myModal" role="dialog" >
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header" style="padding:10px 70px;">
<button type="button" class="close"  data-dismiss="modal">&times;</button>

<h1> Sign in</h1>

</div>

<div class="modal-body" style="padding:20px 40px;">
<form role="form">
<div class="form-group" id="form1">
<span><i class="fas fa-envelope"></i></span>
<input type="text" required id="usrname" placeholder="Enter email">
</div>
            
<div class="form-group" id="form2">
<span><i class="fas fa-lock"></i></span>
<input type="password" required id="psw" placeholder="Enter password">
</div><br>
<p style="float:right; font-size:12px"> <a href="#">Forgot Password?</a></p>
<br><br>
<button type="submit" class="btn btn-primary btn-block" id="btn-login"><span><i class="fas fa-sign-in-alt"></i></span> Login</button>
</form>
</div>
<p style="text-align:center">or sign in with:</p>
       
       
       
<div class="modal-footer">
<div class="text-center">
<br>
<button type="button" class="btn btn-white"><i class="fab fa-facebook-f text-center"></i></button>
<button type="button" class="btn btn-white"><i class="fab fa-twitter"></i></button>
<button type="button" class="btn btn-white"><i class="fab fa-google-plus-g"></i></button>
</div>
<br>
<p style="color:#999; font-size:12px">Not a member? <a href="#">Sign Up</a></p>
</div>
</div>
</div>
</div>
</div>


		<!--Sign up-->

<div class="container" >
<div class="modal fade" id="modal-signup" role="dialog" >
<div class="modal-dialog" style="margin-top:-30px">
<div class="modal-content" style="width:85%">
<div class="modal-header" style="padding:8px 70px;">
<button type="button" class="close"  data-dismiss="modal">&times;</button>

<h1> Sign up</h1>
<h4 class="text-center">Please fill in this form to create an account.</h4>
</div>

<div class="modal-body" style="padding-left:100px;">
<form role="form">
<div class="form-group" id="form1">
<h5>Full Name*</h5>
<input type="text" required id="usrname" placeholder="Enter your name">
</div>
       
<div class="form-group" id="form1">
<h5>Email*</h5>
<input type="text" required id="email" placeholder="Enter your email">
</div>
       
            
<div class="form-group" id="form1">
<h5>Password*</h5>
<input type="password" required id="psw" placeholder="Enter password">
</div>

<div class="form-group" id="form1">
<h5>Repeat Password*</h5>
<input type="password" required id="re-psw" placeholder="Repeat Password">
</div>

<label>
<input type="checkbox" checked="checked"/>&nbsp&nbsp;&nbsp;Remember me</label><br>
<p>By Creating an account you agree to our <br><a href="#">Terms & Privacy</a></p>
<br>
<button type="submit" class="btn btn-primary btn-block" id="btn-singup">Sing up</button>
</form>
<br>       
</div>
</div>
</div>
</div>



</body>
</html>
