<!doctype html>
<html>
<head>
		<!--All links-->

<meta charset="utf-8">
<title> Amusement Park </title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="mystyle.css">
<script src="All script.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>
<body>


		<!--Navbar Start-->
        
<header class="navbar-fixed-top">
<nav class="navbar navbar-default" >
<div class="container-fluid"  style="box-shadow: 1px 2px 15px #666">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>                        
</button>
<a class="navbar-brand" href="#"  id="logo" >Merciado Amuesment Park</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
<ul class="nav navbar-nav" id="nav1">
<li><a href="Home.html" class="cool-link">Home</a></li>
<li><a href="Gallary.html" class="cool-link">Gallary</a></li>
<li id="home-active"><a href="#">Restaurant</a></li>
<li><a href="Entertainmemt.html" class="cool-link">Entertainment</a></li>
<li><a href="tickets.html" class="cool-link">Ticket's</a></li>
<li><a href="contact us.html" class="cool-link">Contact us</a></li>
<li><a href="about us.html" class="cool-link" style="border-right:1px solid #CCC">About us</a></li>
</ul>
    
<ul class="nav navbar-nav navbar-right">
<li><a href="#" id="myBtn6" class="cool-link" style="margin-top:8px"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
<li><a href="#" id="myBtn5" class="cool-link" style="margin-top:8px"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
</ul>
</div>
</nav>
</header>
			
         <!--Navbar end--> 
         
         
          <!--Top text-->

<h1 id="top-text" >Restaurant</h1>
		
			<!--Top image--> 

<img src="Resturant gallary/robin-stickel-82145-unsplash.jpg" id="gallary-image" style="width:100%; height:400px;">
</div>

		<!--Middil Area Start-->

<div class="col-md-12" style="height:130px;"></div>

<div class="col-md-12">
<div class="col-md-1"></div>
<div class="col-md-5" id="heading-text">
<span class="glyphicon glyphicon-cutlery" style="font-size:30px"></span>

<h3>Food Street in Merciado</h3>
<br>
<h5>Restaurants are classified or distinguished in many different ways. The primary factors are usually the food itself (e.g. vegetarian, seafood, steak); the cuisine (e.g. Italian, Chinese, Japanese, Indian, French, Mexican, Thai) or the style of offering (e.g. tapas bar, a sushi train, a tastet restaurant, a buffet restaurant or a yum cha restaurant).</h5>
</div>

<div class="col-md-5" id="food-street">
<img src="Resturant gallary/Background_Street_Food_1.jpg" style="width:100%"</div>
</div>
</div>
    		  
        <!--Middil Area end-->
	
    	<!--Restuarant Eat Heading Start-->

<div class="container">
<div class="col-md-12" id="option-heading">
<div class="col-md-5"><hr></div>
<div class="col-md-2"><h1>Eat</h1></div>
<div class="col-md-5"><hr></div>
</div>
</div>
 
 		<!--Restuarant Eat Heading end-->
   

		<!--Restuarant Eat Area Start-->

<div class="container">        
<div class="col-md-12">
<div class="col-md-1"></div>

<div class="col-md-3" id="resturant-option" style="width:29%">
<img src="Resturant gallary/mcdonalds.jpg" style="width:300px; height:300px"/>
<br><br>
<h4>McDonald's</h4>
<h6><a href="https://mcdonalds.com.pk/" target="_blank">DETAILS&nbsp;&nbsp;&nbsp;&nbsp;</a><span class="glyphicon glyphicon-chevron-right"></span> </h6>	
</div>


<div class="col-md-3" id="resturant-option" style="width:29%">
<img src="Resturant gallary/pizzamax.jpg" style="width:300px; height:300px"/>
<br><br>
<h4>Pizza Max</h4>
<h6><a href="https://www.pizzamax.com.pk/deals/" target="_blank">DETAILS&nbsp;&nbsp;&nbsp;&nbsp;</a><span class="glyphicon glyphicon-chevron-right"></span> </h6>	
</div>


<div class="col-md-3" id="resturant-option" style="width:29%">
<img src="Resturant gallary/dunkin.jpg" style="width:300px; height:300px"/>
<br><br>
<h4>Dunkin' Donuts</h4>
<h6><a href="https://www.dunkindonuts.pk/" target="_blank">DETAILS&nbsp;&nbsp;&nbsp;&nbsp;</a><span class="glyphicon glyphicon-chevron-right"></span> </h6>	
</div>
<div class="col-md-1"></div>
</div>


<div class="col-md-12" style="margin-top:90px"></div>        
        
<div class="col-md-12">
<div class="col-md-1"></div>

<div class="col-md-3" id="resturant-option" style="width:29%">
<img src="Resturant gallary/pizzahut.jpg" style="width:300px; height:300px"/>
<br><br>
<h4>Pizza Hut</h4>
<h6><a href="https://www.pizzahut.com.pk/deals.php" target="_blank">DETAILS&nbsp;&nbsp;&nbsp;&nbsp;</a><span class="glyphicon glyphicon-chevron-right"></span> </h6>	
</div>


<div class="col-md-3" id="resturant-option" style="width:29%">
<img src="Resturant gallary/KFC_eComm_thumb_eComm_Family9.jpg" style="width:300px; height:300px"/>
<br><br>
<h4>KFC</h4>
<h6><a href="https://www.kfcpakistan.com" target="_blank">DETAILS&nbsp;&nbsp;&nbsp;&nbsp;</a><span class="glyphicon glyphicon-chevron-right"></span> </h6>	
</div>


<div class="col-md-3" id="resturant-option" style="width:29%">
<img src="Resturant gallary/636452219773825823-subway.jpg" style="width:300px; height:300px"/>
<br><br>
<h4>Subway</h4>
<h6><a href="https://www.subway.com/en-PK" target="_blank">DETAILS&nbsp;&nbsp;&nbsp;&nbsp;</a><span class="glyphicon glyphicon-chevron-right"></span> </h6>	
</div>
<div class="col-md-1"></div>
</div>        
</div>

        <!--Restuarant Eat Area End-->


		<!--Restuarant Drink Heading Start-->

<div class="container">
<div class="col-md-12"></div>
<div class="col-md-12" id="option-heading">
<div class="col-md-5"><hr></div>
<div class="col-md-2"><h1>Drink</h1></div>
<div class="col-md-5"><hr></div>
</div>
</div>

 		<!--Restuarant Drink Heading end-->
	
    	<!--Restuarant Drink Area Start-->

<div class="container">        
<div class="col-md-12">
<div class="col-md-1"></div>

<div class="col-md-3" id="resturant-option" style="width:29%">
<img src="Resturant gallary/mc coffee.jpg" style="width:300px; height:300px"/>
<br><br>
<h4>McDonald's</h4>
<h6><a href="https://mcdonalds.com.pk/" target="_blank">DETAILS&nbsp;&nbsp;&nbsp;&nbsp;</a><span class="glyphicon glyphicon-chevron-right"></span> </h6>	
</div>


<div class="col-md-3" id="resturant-option" style="width:29%">
<img src="Resturant gallary/mc coofee.jpg" style="width:300px; height:300px"/>
<br><br>
<h4>McDonald's</h4>
<h6><a href="https://mcdonalds.com.pk/" target="_blank">DETAILS&nbsp;&nbsp;&nbsp;&nbsp;</a><span class="glyphicon glyphicon-chevron-right"></span> </h6>	
</div>


<div class="col-md-3" id="resturant-option" style="width:29%">
<img src="Resturant gallary/mc drink.jpg" style="width:300px; height:300px"/>
<br><br>
<h4>McDonald's</h4>
<h6><a href="https://mcdonalds.com.pk/" target="_blank">DETAILS&nbsp;&nbsp;&nbsp;&nbsp;</a><span class="glyphicon glyphicon-chevron-right"></span> </h6>	
</div>
<div class="col-md-1"></div>
</div>

<div class="col-md-12" style="margin-top:90px;"></div>
        
<div class="col-md-12">
<div class="col-md-1"></div>

<div class="col-md-3" id="resturant-option" style="width:29%">
<img src="Resturant gallary/d d coffee.jpg" style="width:300px; height:300px"/>
<br><br>
<h4>Dunkin' Donuts</h4>
<h6><a href="https://www.dunkindonuts.pk/" target="_blank">DETAILS&nbsp;&nbsp;&nbsp;&nbsp;</a><span class="glyphicon glyphicon-chevron-right"></span> </h6>	
</div>


<div class="col-md-3" id="resturant-option" style="width:29%">
<img src="Resturant gallary/d d ice.jpg" style="width:300px; height:300px"/>
<br><br>
<h4>Dunkin' Donuts</h4>
<h6><a href="https://www.dunkindonuts.pk/" target="_blank">DETAILS&nbsp;&nbsp;&nbsp;&nbsp;</a><span class="glyphicon glyphicon-chevron-right"></span> </h6>	
</div>


<div class="col-md-3" id="resturant-option" style="width:29%">
<img src="Resturant gallary/d d shake.jpg" style="width:300px; height:300px"/>
<br><br>
<h4>Dunkin' Donuts</h4>
<h6><a href="https://www.dunkindonuts.pk/" target="_blank">DETAILS&nbsp;&nbsp;&nbsp;&nbsp;</a><span class="glyphicon glyphicon-chevron-right"></span> </h6>	
</div>
<div class="col-md-1"></div>
</div>        
</div>
     
        <!--Restuarant Drink Area End--!>

		<!--Footer Start-->
        
<div class="container" id="footer">
<div class="col-md-12" style="padding-top:50px;">
<div class="col-md-3" style="border-right:1px solid #FFF; border-left:1px solid #FFF; height:205px">
<h4>Amuesment Park</h4>
<hr><h5>With the development of society,there are more and more amusement parks appearing. While they are similar, inside just have some amusement equipment, so these playgrounds are only one place for play,and they can not survive for a long time.</h5>
</div>


<div class="col-md-3" style="border-right:1px solid #FFF;  height:205px">
<h4>Our Service</h4>
<hr>
<p><a class="dark-grey-text"href="#">Contact us</a></p>
<p><a class="dark-grey-text" href="#!">About us</a></p>
<p><a class="dark-grey-text" href="#!">Customer Service </a></p>
<p><a class="dark-grey-text" href="#!">Privacy Policy</a></p>
</div>



<div class="col-md-3" style="border-right:1px solid #FFF; ">
<h4>Use full links</h4>
<hr>
<p><a class="dark-grey-text"href="#">Your Account</a></p>
<p><a class="dark-grey-text" href="#!">Find a location</a></p>
<p><a class="dark-grey-text" href="#!">Site Map</a></p>
<p><a class="dark-grey-text" href="#!">Help</a></p>
</div>



<div class="col-md-3" style="border-right:1px solid #FFF;">
<h4>contact us</h4>
<hr>
<p><i class="fas fa-home mr-3"></i>&nbsp;&nbsp; Korangi Branch KHI.</p>
<p><i class="fas fa-envelope mr-3"></i>&nbsp;&nbsp; rafay3651@gmail.com</p>
<p><i class="fas fa-phone mr-3"></i>&nbsp;&nbsp; + 92 234 567 88</p>
<p><i class="fas fa-print mr-3"></i>&nbsp;&nbsp; + 021 234 567 89</p>
</div>


<hr style="width:100%">
<div class="col-md-12">
<div class="col-md-12" id="icon">
<ul>
<li style="background-color:#06F"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
<li style="background-color:#09F"><a href="#"><i class="fab fa-twitter"></i></a></li>
<li style="background-color:#960"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
<li style="background-color:#F00"><a href="#"><i class="fab fa-youtube"></i></a></li>
<li style="background-color:#96F"><a href="#"><i class="fab fa-instagram"></i></a></li>
</ul>
<h5 style="color:#999">All Copy Right Reserved By "Abdul Rafay".</h5>
</div>
</div>
</div></div>
		
        <!--Footer end-->
        
        <!--Scroll button for top-->
        
<input type="button" id="myBtn" value="Top" onClick="topFunction()"/>

 
		 <!--SIgn in-->      

<div class="container">
<div class="modal fade" id="myModal" role="dialog" >
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header" style="padding:30px 70px;">
<button type="button" class="close"  data-dismiss="modal">&times;</button>

<h1> Sign in</h1>

</div>

<div class="modal-body" style="padding:0px 40px;">
<form role="form">
<div class="form-group" id="form1">
<span><i class="fas fa-envelope"></i></span>
<input type="text" required id="usrname" placeholder="Enter email">
</div>
            
<div class="form-group" id="form2">
<span><i class="fas fa-lock"></i></span>
<input type="password" required id="psw" placeholder="Enter password">
</div><br>
<p style="float:right; font-size:12px"> <a href="#">Forgot Password?</a></p>
<br><br>
<button type="submit" class="btn btn-primary btn-block" id="btn-login"><span><i class="fas fa-sign-in-alt"></i></span> Login</button>
</form>
</div><br>
<p style="text-align:center">or sign in with:</p>
       
       
       
<div class="modal-footer">
<div class="text-center">
<br>
<button type="button" class="btn btn-white"><i class="fab fa-facebook-f text-center"></i></button>
<button type="button" class="btn btn-white"><i class="fab fa-twitter"></i></button>
<button type="button" class="btn btn-white"><i class="fab fa-google-plus-g"></i></button>
</div>
<br>
<p style="color:#999; font-size:12px">Not a member? <a href="#">Sign Up</a></p>
</div>
</div>
</div>
</div>
</div>

		<!--Sign up-->

<div class="container" >
<div class="modal fade" id="modal-signup" role="dialog" >
<div class="modal-dialog" style="margin-top:-30px">
<div class="modal-content" style="width:85%">
<div class="modal-header" style="padding:8px 70px;">
<button type="button" class="close"  data-dismiss="modal">&times;</button>

<h1> Sign up</h1>
<h4 class="text-center">Please fill in this form to create an account.</h4>
</div>

<div class="modal-body" style="padding-left:100px;">
<form role="form">
<div class="form-group" id="form1">
<h5>Full Name*</h5>
<input type="text" required id="usrname" placeholder="Enter your name">
</div>
       
<div class="form-group" id="form1">
<h5>Email*</h5>
<input type="text" required id="email" placeholder="Enter your email">
</div>
       
            
<div class="form-group" id="form1">
<h5>Password*</h5>
<input type="password" required id="psw" placeholder="Enter password">
</div>

<div class="form-group" id="form1">
<h5>Repeat Password*</h5>
<input type="password" required id="re-psw" placeholder="Repeat Password">
</div>

<label>
<input type="checkbox" checked="checked"/>&nbsp&nbsp;&nbsp;Remember me</label><br>
<p>By Creating an account you agree to our <br><a href="#">Terms & Privacy</a></p>
<br>
<button type="submit" class="btn btn-primary btn-block" id="btn-singup">Sing up</button>
</form>
<br>       
</div>
</div>
</div>
</div>


 </body>
 </html>